header {
  background-color: #fff;
  color: rgb(32, 35, 41);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

body {
  background-color: rgb(41, 44, 52);
  margin: 0%;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(32, 35, 41);
  color: rgb(158, 158, 158);
  text-transform: uppercase;
  font-size: 80%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding-top: 100px;
}

.tarjetas {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 0.2fr);
  grid-auto-rows: auto;
  gap: 25px;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 100px;
  margin-bottom: 100px;
}

.personaje {
  display: flex;
  flex-direction: row;
  background-color: rgb(60, 63, 69);
  box-shadow: 0px 10px 20px -5px rgb(38, 40, 42);
  border-radius: 10px;
  width: 600px;
  height: 220px;
}

.info {
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 200px;
}

.info h2 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.info h3,
.info p {
  font-weight: 100;
  margin-top: 5px;
  margin-bottom: 5px;
}

.info h4 {
  font-weight: 100;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.status_icon {
  height: 0.5rem;
  width: 0.5rem;
  margin-right: 0.375rem;
  border-radius: 50%;
}

.vivo {
  background-color: rgb(85, 204, 68);
}

.muerto {
  background-color: rgb(214, 61, 46);
}

.desaparecido {
  background-color: rgb(158, 158, 158);
}

.img {
  object-fit: cover;
  width: fit-content;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

p {
  color: grey;
}

.titulo {
  position: relative;
  z-index: 2;
  padding-bottom: 40px;
  font-size: 300%;
}

button {
  background-color: transparent;
  color: #282828;
  font-weight: bold;
  margin: 10px;
}

.botones {
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: row;
  padding-right: 17px;
}

.docs_about {
  border: none;
  font-size: 120%;
}

.support {
  padding: 10px;
  border: 1px solid orange;
  border-radius: 10px;
  width: 130px;
}

.logo_y_botones {
  display: flex;
  justify-content: space-between;
}

.logo {
  margin-top: 10px;
  margin-left: 27px;
}

.fondo {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
}

.rickAndMorty {
  fill: rgb(245, 245, 245);
  position: absolute;
  bottom: 100%;
}

ul {
  list-style: none;
}

a {
  margin-left: 30px;
}

.server {
  display: flex;
  align-items: center;
}

.server_status {
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  margin-bottom: 1px;
  margin-left: 10px;
  background: rgb(85, 204, 68);
}

.powered {
  margin-left: 30px;
}

.info h3:hover,
.info h2:hover {
  color: orange;
  cursor: pointer;
}

.docs_about:hover {
  cursor: pointer;
  color: orange;
}

.support:hover {
  background-color: orange;
  color: #fff;
  transition: 200ms;
  cursor: pointer;
}
